<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/user_profile.css">
    </head>
    <body>
            <!-- else show only the profile info -->
            <p>Name: <%= profile_user.name %></p>
            <p>Email: <%= profile_user.email %></p>
            <p>Gender: <%= profile_user.gender %></p>
            <p>Race: <%= profile_user.race %></p>
            <p>Ethnicity: <%= profile_user.ethnicity %></p>
            <p>Literacy: <%= profile_user.literacy %></p>

    </body>
</html>
