<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/user_profile.css">
    </head>
    <body>

      <img src="<%= user.avatar %>" alt="<%= user.name %>" onerror=this.src="/img/default.jpg" width="150" height="150">
        <!-- <h1>Codeial / <%= title %></h1> -->

        <% if(user.id == profile_user.id){ %>
            <!-- If user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <!-- <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required> -->

                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
            </form>
        <% } %>
            <!-- else show only the profile info -->
            <p>Name: <%= profile_user.name %></p>
            <p>Email: <%= profile_user.email %></p>
            <p>Gender: <%= profile_user.gender %></p>
            <p>Race: <%= profile_user.race %></p>
            <p>Ethnicity: <%= profile_user.ethnicity %></p>
            <p>Literacy: <%= profile_user.literacy %></p>

    </body>
</html>
